*{margin: 0;
  padding: 0;
   box-sizing: border-box;
}


.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding: 0 120px;
    /* border: 1px solid red; */
     
}
nav{
    display: flex;
    margin: 16px auto ;
    justify-content: space-between;
     align-items: center;
     /* border: 1px solid red; */
     
     
}
nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
   font-weight: 500;
   opacity: 90%;
}

nav img{
    max-width: 139px;
    /* margin: 17px 0 ; */
    /* padding: 17px 0; */
}

.menu a{
    text-decoration: none;
    color: #000000ec;

}
 .btn{
    font-size: 16px;

    font-weight: 600px;
    color: #FFFFFf;
    padding: 12.5px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

 
#hero{
    background-image: url(../image/hero-bg.png);
    text-align: center;
    background-size: cover;
    
    background-position: center ;
    
    /* width: 100%; */

    

}
.hero-container{
    padding: 115.5px 120px 179.5px 120px ;
    /* max-width: 1300px; */
    text-align: center;
    margin: 0 auto;
    
}

.hero-container h1{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFf;
    opacity: 90%;}

.text-color{
    color: #30b868;
    opacity: 90%;
    font-size: 72px;
    font-weight: bold;
}

.hero-container p{
     padding-top: 16px;
     font-size: 18px;
     line-height: 24px;
     text-align: center;
     color:#FFFFFf;
     
}
.btn-card{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 32px;
    gap: 16px;
    /* padding-top: 32px; */

}


.transparent-btn{
     font-size: 16px;
    font-weight: 600px;
    color: #FFFFFf;
    padding: 16.5px 16px;
    background-color: transparent;
    border-radius: 4px;
    border:1px solid #FFFFFf;
    cursor: pointer;
}

.btn-early-access button{
    margin-bottom: 16px;
    font-size: 16px;
    color: #469165;
    padding: 12px 8px;
    border-radius: 50px;
    border: none;
    width: 229px;
     cursor: pointer;

}
.btn-img  {
    display: flex;
    padding: 16.5px 16px;
    place-items: center;
    
    gap: 10px;

}


#Notes-Section{
    text-align: center;
    
    padding-left: 120px ;
    padding-right:120px  ;
  
    text-align: center;
    background-color: #FBFBFB;
    

   
}

.Notes-about h2{
    font-size: 48px;
    font-weight: bold;
    padding-top: 50px;
    color: #001931;
    
}
.Notes-about p{
    line-height: 20px;
    font-size:16px ;
    color:#627382 ;
    padding-top: 16px;
}
.Notes-card-container{
    /* border: red solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    /* padding-left: 120px ;
    padding-right:120px  ; */

    gap: 24px;

    
}
.Notes-card-container .Notes-card{
    /* border: 1px solid red; */
    padding: 69.5px 24px 21.5px  ;
    background-color: #FFFFFF;
 /* background-color: #68c400; */
    border-radius: 8px;
    margin-top: 44px;
    box-shadow: 0 0 8px 0 #0000000F;
    width: 322px;

    height: 300px;
    margin-bottom: 0px;

}

.Notes-card img{
    
    background-color: #F95555;
   
    padding: 14px 13px 13px 13px;
    border-radius: 50%;
   
}
.Notes-card h4{
    font-size: 24px;
    color: #001931;
    padding: 16px;
    /* margin: 16px; */

}
.Notes-card p{
    line-height: 20px;
    font-size: 16px;
    color: #627382;
    width: 274px;
    text-align: center;
    
}

#Brain-Section{
    padding: 120px;
    display: flex;
    align-items: center;
    /* background-color: #FFFFFF; */
    justify-content: center;
    gap: 60px;
    
}

.list-description {
text-align: left;


}
.list-description p img{
vertical-align: middle;
    text-align:center;
    place-items: center;
    gap: 5px;
}

.list-description p{
    font-size: 16px;
    margin-bottom: 16px;
    color: #001931;
    font-weight: 500;


}
.text-container{

    width: 700px;
}
.text-container .titel{
    font-size: 16px;
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;
    
}

.text-container h2{ 
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.Description{
    color:#627382;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 40px;
}

.Brain-img{
    border-radius: 12px;
    width: 600px;
}

#Early-Access-Section{
    margin: 0 120px 120px 120px;
    justify-content: center;
    text-align: center;
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    
}

.early-section-container{
    /* padding: 80px 40px; */
    text-align: center;
    align-items: center;
    width: 100%;
    text-align: center;
    
}

.early-section-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.early-section-container p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

.early-section-btn{
    padding-top: 24px ;
    
}

.early-section-btn p{
    line-height: 20px;
}

.last-btn{
    /* display: flex; */
     justify-content: center;
    text-align: center;
    padding: 16.5px 16px;
    place-items: center;
    gap: 10px;
    box-shadow: 9 10px 20px 0 #00000016;
    margin-bottom: 16px;

}
.fa-solid{
    width: 20px;
    padding: 0 16px 0 10px;

}

footer{
    background-color: #001931;
    padding: 120px 120px 30px;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}
.footer-logo{
    width: 350px;
}
.social{
    width: 220px;
}

.social h5{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icon a{
   
   margin-right: 16px;
}

.copyright-container{
   
    padding-top: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    line-height: 24px;
   
}

.copyright-text{
    padding-top: 30px;
    border-top: 1px solid ;
    border-color: #e5e7eb3f;
    
}
.copyright-text p{
    color: #FAFAFA;
}