*{margin: 0;
  padding: 0;
}
.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding: 0 120px;
    /* border: 1px solid red; */
     
}
nav{
    display: flex;
    margin: 16px auto ;
    justify-content: space-between;
     align-items: center;
     /* border: 1px solid red; */
     
}
nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
   font-weight: 500;
   opacity: 90%;
}

nav img{
    max-width: 139px;
    /* margin: 17px 0 ; */
    /* padding: 17px 0; */
}

.menu a{
    text-decoration: none;
    color: #000000ec;

}
 .btn{
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFf;
    padding: 12.5px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
 }
#hero{
    background-image: url(../assets/hero-bg.png);
    text-align: center;
    background-size: cover;
    margin: 0 auto
    

}
.hero-container{
    padding: 115.5px 120px 179.5px 120px ;
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
    
}

.hero-container h1{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFf;
    opacity: 90%;}

.text-color{
    color: #30b868;
    opacity: 90%;
    font-size: 72px;
    font-weight: bold;
}

.hero-container p{
     padding-top: 16px;
     font-size: 18px;
     line-height: 24px;
     text-align: center;
     color:#FFFFFf;
     
}
.btn-card{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 32px;
    gap: 16px;
    /* padding-top: 32px; */

}
.transparent-btn{
     font-size: 16px;
    font-weight: 600px;
    color: #FFFFFf;
    padding: 12.5px 16px;
    background-color: transparent;
    border-radius: 4px;
    border:1px solid #FFFFFf;
}

.btn-early-access button{
    margin-bottom: 16px;
    font-size: 16px;
    color: #469165;
    padding: 12px 8px;
    border-radius: 50px;
    border: none;
    width: 229px;

}
.btn-img{
    display: flex;
    
    place-items: center;
    gap: 10px;
}